#cards{
    text-align: center; /*contenuto centrato*/
    margin-top: 50px; /*spazio superiore*/
    }
    .card{
    /*larghezza dei div skill, in pagina ne abbiamo 3 quindi 100 / 3
    lasciando un po' di spazio per i margini
    */
    width: 28%;
    display: inline-block; /*questi div saranno posti uno a fianco all'altro*/
    margin: 2%; /*un po di spazio tra i div*/
    color: #2d3e50;
    }