#body{
    background-color: #ffffff;
}

.title{
    font-family: "Montserrat";
    font-size: 5em;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}

.box{
    background: url(/static/images/sfondo4.jpg);
    width: 100%;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    animation:animazione 100s linear infinite;
    border-radius: 10px;
}

@keyframes animazione{
    100%{
        background-position: 0px -3000px;
    }
}

.form-control{
    border-radius: 10px;
    position: relative;
}

.boh{
    position: relative;
    top: +10px;
}

.h1{
    font-family: "Montserrat";
    color: #644847;
    font-size: 1em;
    border-radius: 10px;
    padding: 0 10px 0 10px;
}